.image-slider {
  z-index: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.image-slide {
  height: 100vh;
  margin: 0 auto;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.slick-slide.slick-center {
  transform: scale(1.2);
  transition: transform 0.8s 1.4s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.slick-slide {
  transition: transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.slider-control {
  margin: 0%;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 100px;
  transform: translate(-50%, -50%);
  display: flex;
}

/* button {
  color: #fff;
  background: none;
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  border-radius: 50%;
  margin: 0.4em;
  display: inline-block;
}

button:focus {
  outline: none;
} */

.block-1 {
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 5%;
  left: 0%;
  background: rgb(3, 78, 162);
  opacity: 0.65;
}

.block-2 {
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 25%;
  left: 25%;
  background: rgb(3, 78, 162);
  opacity: 0.65;
}

.overlay {
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 20%;
  left: 5%;
  background: rgb(3, 78, 162);
  opacity: 0.65;
}

.text-slider-wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 25%;
}

.text-slider {
  margin: 0px 60px;
  padding: 0%;
  width: 413px;
}

.text-slide h2 {
  color: #fff;
  font-size: 50px;
  line-height: 64px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 32px;
}
.text-slide p {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: 36px;
  margin: 0;
}

.text-slide h5 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 36px;
  margin: 0;
}

.support {
  font-size: 12px;
  color: rgb(3, 78, 162);
  font-weight: bold;
  background: #fff;
  padding: 6px 12px;
  display: inline;
  border-radius: 100px;
  display: inline;
  position: absolute;
  bottom: 10%;
  left: 60px;
  z-index: 1;
}

.text-slider-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* @media (max-width: 990px) {
  .block-2,
  .overlay {
    display: none;
  }

  .block-1 {
    width: 50%;
  }

  .block-3 {
    width: 12%;
  }

  .slide-slick {
    display: none !important;
  }

  .text-slide h1 {
    font-size: 30px !important;
  }

  .text-slider-wrapper {
    position: absolute;
    top: 50% !important;
  }

  .slider-control {
    left: 22.5%;
  }
} */
