.clients-container {
  padding: 160px 0 160px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-gap: 30px;
  width: 85%;
  margin: auto;
  overflow: hidden;
}
.clients-info {
  transform: translateY(60px);
  opacity: 0;
}
.clients-info h6 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 350;
  line-height: 1.3em;
}
.hash-tags {
  color: rgb(3, 78, 162);
  font-weight: bold;
  padding-right: 4px;
}
.count h2 {
  font-size: 86px;
  color: #000;
  font-weight: 350;
  letter-spacing: -2.88px;
  line-height: 1em;
  word-break: break-word;
  margin: 0;
  display: flex;
  align-items: center;
  opacity: 0;
}

.count {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
